* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 300px;
    aspect-ratio: 1;
    position: absolute;
}

/* Koden ovanför är obligatorisk. Ereventuella CSS skriver ni nedanför denna kommentar */
/* sätter storleken på gameArea till hela skärmen */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(214, 237, 236);
}


form {
    display: inline-block;
    padding: 32px;
    border-radius: 12px;
    border: solid 1px;
    min-width: 527px;
    display: flex;
    flex-direction: column;
    background-color: #f9fdfe;
    box-shadow: 0px 0px 8px 4px rgba(139, 176, 232, 0.2);
}

span {
    margin-bottom: 16px;
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: red;
    min-height: 23px;
}

.f-col {
    margin-bottom: 16px;
}

input[type=password],
input[type=text] {
    padding: 8px 4px;
    margin-left: 8px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

div {
    margin-bottom: 16px;
}

button {

    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid;
    margin-bottom: 23px;
    /* margin-left: 32px;
    margin-right: 32px; */
    min-width: 40%;
    max-width: 45%;
    background-color: rgb(139, 176, 232);
    font-weight: 700;
}

#question {
    accent-color: rgb(139, 176, 232);
}

button:hover {
    opacity: .7;
}

h1 {
    margin-bottom: 32px;
    font-size: 44px;
    text-align: center;

}

.logoutPage button {
    font-size: 20px;
}

.logoutPage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 653px;
}

.gameArea {
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

/* class d-none för att gömma element */
.d-none {
    display: none;
}