* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 300px;
    aspect-ratio: 1;
    position: absolute;
}

/* Koden ovanför är obligatorisk. Ereventuella CSS skriver ni nedanför denna kommentar */
/* sätter storleken på gameArea till hela skärmen */
.gameArea,
.logoutPage {
    height: 100vh;
    width: 100vw;
}

/* class d-none för att gömma element */
.d-none {
    display: none;
}